@use "colors";

form{
  width: 60vw;
	max-width: 550px;
	min-width: 300px;
	margin: 9% auto;
  padding: 10px;
  background-color:aquamarine;
  border-style: dashed;

  h1,p{
    text-align: center;
  }
  
  label{
    display: block;
  }

  hr{
    border:none;
    border-bottom: 3px dashed black;
  }

  fieldset{
    border: none;

    input,textarea{
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: colors.$emerald !important;
      border-color: colors.$emerald !important;
    }
  }
  input[type="submit"]{
    display: block;
    margin:0 auto;
    width: 25%;  
    margin-top: 10px;
    padding: 0% 5% 0% 5%;
    font-weight: 700;
    font-size:1.3rem;
    background-color: colors.$emerald;
    border-color: colors.$emerald;
    }  

}