@use "colors";

#home{  
  background-color: rgba(120, 128, 218, 0.225);
  header{
    .notification-bar{
      background-color: colors.$chocolate;
      height: 60px;
      border: 2px dashed purple;
      p{
        text-align: center;
        color: white;
        font-size: 1rem;
        margin: 0px;
        padding: 0px;
      }
      a{
        color: purple;
        
      }
    }
  }
}