<form>
  <input type="text" name="title" placeholder="Titulo" required/>
  <br>
  <input type="text" name="description" placeholder="Descripcion"/>
  <br>
  <input type="number" name="price" placeholder="Precio" required/>
  <br>
  <input type="number" name="stock" placeholder="Stock"/>
  <br>
  <select name="category">
    <option value="Novartis">Novartis</option>
    <option value="Viatris">Viatris</option>
    <option value="Merck">Merck</option>
    <option value="Pfizer">Pfizer</option>
    <option value="AbbVie">AbbVie</option>
    <option value="Moderna">Moderna</option>
    <option value="Roche">Roche</option>
    <option value="GMK">GMK</option>
    <option value="J&J">Jhonson Jhonson</option>
  </select>
  <br>
  
  <button type="submit">Agregar</button>
</form>