<p>WELCOME TO THE CHAT</p>
<ul>
  <li>Pendiente Crear el archivo socket.js</li>
  <li>Pendiente generar el repo de ddbb</li>
  <li>Pendiente generar la logica de factory</li>
  <div>
    <p id="messageLogs"></p>
  </div>
  <div>
    <input type="text" name="" id="chatBox">
  </div>
  <div>
    <button id="send">Enviar</button>
  
</ul>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket.js"></script>
