{{#if validKey}}
  <h1>Sigue las instrucciones</h1>
  <form id="passwordReset">
    <label>
      Contrasena nueva
      <input type="password" name="password1" />
    </label>
    <br>
    <label>
      Repite la contrasena
      <input type="password" name="password2" />
    </label>
    <button type="submit">Enviar</button>
  </form>
{{else}}
  <a href="/"><button>HOME</button></a>
  <h1>El link no es valido, porfavor intenta de nuevo</h1>
{{/if}}

<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="/js/newPassword.js"></script>